<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @meeting.name %>
</p>

<p>
  <b>Start date:</b>
  <%= @meeting.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @meeting.end_date %>
</p>

<div id="floatbox">
	<b>Venues:</b><br />
	<%= link_to @meeting.venue.full_name, venue_path(@meeting.venue.id) %><br />
	<%= @meeting.venue.address %><br />
	<%= @meeting.venue.city %>, <%= @meeting.venue.state %> <%= @meeting.venue.zip %><br /><br /><br />
	<b>Sponsors:</b><br />
	<% @meetingsponsors.each do |c| %>
		<%= link_to c.full_name, sponsor_path(c.id) %> <br />
	<% end %>
</div>


<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
